body {
    font-family: easvhs;
    line-height: 1.2;
    color: white;
    margin: 0;
    height: 2000px;
    letter-spacing: 0.2em;
    background-color: #7cdbec;
    background-image: url("img/main-bg1.jpg.png");
}

main, footer {
    margin: 0;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
    background-image: url('img/bg2.png');
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    font-size: 90px;
    margin: 0 0 20 0;
}

h2 {
    font-size: 70px;
    margin: 0 0 20 0;
}

h3 {
    font-size: 40px;
    margin: 15px 0px;
}

h4 {
    font-size: 20px;
    margin-top: 0px;
}

b {
    font-weight: 800;
}

.link {
    color: #00b78e;
    font-size: 30px;
}

.link:hover {
    color: #008cb7;
    text-decoration: dotted;
}


.link--intro {
    width: 100%;
    display: block;
    margin-top: 51px;
    text-align: left;
    margin-left: 17px;
}

.intro {
    display: flex;
}

.intro__text {
    width: 60%;
    text-align: center;
    margin-bottom: 20px;
}

.intro__picture {
    display: block;
    width: 400px;
    max-width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    margin: 0 auto 0 auto;
}

.tag-line {
    font-size: 40px;
}

.menu {
    color: white;
    font-size: 40px;
    display: flex;
}

.menu__link {
    color: white;
    font-size: 40px;
    flex: auto;
}

.menu__link:hover {
    color: purple;
    background-color:rgba(148, 0, 113, 0.5)
}


@font-face {
    font-family: easvhs;
    src: url(fonts/easvhs.ttf);
}

.section-header {
    background-image: url('img/bg2.png');
    padding: 20px;
}

.intro-container {
    padding: 30px;
    background-image: url('img/bg0.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    position: absolute;
    right: 10px;
}

.project {
    padding: 30px;
    background-image: url('img/bg1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.project--bg-1 {
    background-image: url('img/bg1.png');
}
.project--bg-2 {
    background-image: url('img/bg2.png');
}
.project--bg-3 {
    background-image: url('img/bg3.png');
}
.project--bg-4 {
    background-image: url('img/bg4.png');
}
.project--bg-5 {
    background-image: url('img/bg5.png');
}

.project__container {
    display: flex;
}

.project__intro-text {
    margin-bottom: 10px;
    display: block;
}

.project__company-logo {
    height: 100px;
}

.project__slider {
    width: 400px;
    margin-right: 24px;
    flex-shrink: 0;
}

.project__icons {
    display: flex;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.project__icon {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    min-width: 75px;
    align-items: center;
}

.project__icon-image {
    height: 50px;
    image-rendering: pixelated;
    width: 50px;
    margin-bottom: 9px;
}

.project__icon-image--company {
    height: 62px;
    image-rendering: auto;
    width: auto;
    margin-right: 9px;
}
.project__icon-text {
    margin: 10px;
}

.project--hero {
    .project__container {
        display: block;
    }

    .project__slider {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 24px;
    }
}

/* small */
@media only screen and (max-width: 900px) {
    .intro {
        display: block;
    }

    .intro__text {
        width: 100%;
    }

    .project {
        padding: 20px;
    }

    .project__container {
        display: block;
    }

    .project__slider {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 24px;
    }

    h2 {
        font-size: 55px;
    }

    .intro__picture {
        height: auto;
    }
}

/* small */
@media only screen and (max-width: 400px) {
    h2 {
        font-size: 40px;
    }

    .tag-line {
        font-size: 30px;
    }
}